{% extends "admin/base_site.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'dweet/css/following_user_list_stylesheet.css' %}">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<body>
    <div class="search-header">
        <input type="text" name="search" placeholder="Search Dweet/User" id="id_search_bar" class="search-bar">
        <button type="button" class="btn btn-xs btn-info" id="id_search_button">Search</button>
    </div>

    <div id="container">
        {% if following_user_list %}
            {% for following_user in following_user_list %}
                <div class="following_div">
                    <label style="width:80%;"> {{ following_user.followed_to_name }} </label>
                    <button type="button" class="btn btn-link btn-sm unfollow_btn" id="unfollow_{{ following_user.followed_to_id }}">Unfollow</button>
                </div>
            {% endfor %}
        {% else %}
            <p>You are following nobody right now.</p>
        {% endif %}
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'dweet/js/following_user_list.js' %}"></script>

{% endblock %}